body {
    background-image: url("https://media.alienwarearena.com/media/8bf1e91309f2dc3b9aa881e9f1232883.png");
    text-align: center;
    background-size: 100% 960px;
    font-size: 26px;
    color: white;
    font-family: 'Mountains of Christmas', cursive, sans-serif;
}

.gameholder {
    width: 40%;
    margin: 100px 1500px 200px 200px;
    opacity: .75;
    background: navy;
    padding: 25px;
    border-radius: 100px;
    color: yellow;
    position: relative;
    right: 100px;
}

#generate-underscore {
    font-size: 48px;
}

#wrong-guess-text {
    color: red;
    opacity: 1;
}

.player {
    opacity: .8;
}